.order-hero{
    background-color: #EFF9FA;
}
.order-hero h2{
    font-size: 3rem;
    font-weight: 700;
}
.order-hero h2 span{
    color: #35B8BE;
}
.menu-btn{
    text-decoration: none;
    background-color: transparent;
    color: #000;
    border: 1px solid black;
    border-radius: 12px;
    padding: 15px 50px;
    margin-left: 1em;
  }
  .menu-btn:hover{
    background-color: #35B8BE;
    color: #fff;
    border: none;
  }
  .menu-btn:active{
    background-color: #35B8BE;
    color: #fff;
    border: none;
  }

  /*media queries*/
  @media(max-width:576px){
    .order-section-btns{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .order-section-btns button{
      border: 0.5px solid #000;
      border-radius: 5px;
    }
  }



  