.burger_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 80px;  
  }
  .burger_grid{
    background-color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid #35B8BE;
  }
  .burger_details{
    width: 100%; 
  }
  .burger_price{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .burger_price h2, p{
    margin: 0;
    padding: 0;
  }
  .burger_price p{
    color: #35B8BE;
  }
  .burger_info p{
    margin-top: 10px;
    text-align: left;
    color: #a3a3a3;
  }  
  .cart{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  .cart input{
    background-color: #f0f0f0;
    width: 50px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 0;
    text-align: center;
  }
  button{
    background-color: #35B8BE;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    margin-left: 0.8em;  
  }

  /*media queries*/
  @media(max-width:992px){
    .burger_container{
      grid-template-columns: repeat(1, 1fr);
      padding: 0;
    }
  }
  @media(max-width:576px){
    .burger_container{
      margin-top: 4em;
    }
    .burger_grid{
      flex-direction: column;
    }
    .burger_grid img{
      width: 100%;
      border-radius: 5px;
    }
    .burger_price{
      flex-direction: column;
      align-items: flex-start;
    }
  }

