body{
    background-color: #fff;
}

.cart-header{
    padding: 0;
}

.cart-header div{
    background-color: #EFF9FA;
    color: #000;
    display: flex;
    justify-content: space-between;
    padding: 2em 5em;
    margin: 0;   
}

.cart-header div p{
    font-weight: 800;
}

.cart-header div p:hover{
    cursor: pointer;
}
.cart-body p{
    opacity: 50%;
    line-height: 60px;
}
.cart-body{
    padding: 4em 10em;
    display: flex;
    flex-direction: column;
    gap: 10px; 
  }
.cart-grid{
    background-color: #EFF9FA;
    padding: 2em;
    border: 1px solid #35B8BE;
    display: flex;
    justify-content: space-between;
    align-items: center;   
  }

 .cart-grid p{
    font-weight: 700;
  }

  .cart-total{
    padding-bottom: 2em;
  }

  .cart-total button{
    margin-top: 1em;
    padding: 10px 20px;
    cursor: pointer;
  }

  @media(max-width:992px){
    .cart-body{
        padding: 3em;
    }

 }

 @media(max-width:768px){
    .cart-body{
        padding: 2em 0.7em;
    }
    
    .cart-grid p{
        font-weight: 600;
       
    }
 }

 @media(max-width:576px){
    .cart-body{
        padding: 2em 1em;
    }
    .cart-grid{
        background-color: #EFF9FA;
        padding: 1em;
        flex-direction: column;
        justify-content: center;
         
      }
    
 }


  @media(max-width:480px){
    .cart-header div{
        padding: 2em 1em;
    }
    .cart-body{
        padding: 2em 1.5em;
    }
  }

  @media(max-width:380px){
    .cart-body{
        padding: 2em 1em;
    }
  }
  
  
 