.contact-page{
    position: relative;
    transform: translateY(50%); 
    color: black;      
}
.contact-page h1{
    font-size: 5rem;
    font-weight: 800;
    opacity: 50%;
}
.contact-page p{
    font-size: 1.8rem;
    opacity: 50%;
    line-height: 60px;
}
.contact-page a{
    font-size: 1.2rem;
    opacity: 50%;   
}
.contact-page a:hover{
    opacity: 100%;
    transition: opacity 0.3s ease-in;
}



